#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
	border: 2px solid #E0E0E0;
	padding: 10px;
}

#bar_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
	border: 2px solid #E0E0E0;
	padding: 10px;
}

